## 1. PANDAS & NUMPY (25 points)

- complete 10 questions below
- for Pandas exercise, please use provided __italy_covid_stats.csv__ file
- it would be a good idea to familiarise yourself with the .csv file first.

In [2]:
# 1. load housing_data.csv file with Pandas as dataframe

import pandas as pd

df = pd.read_csv('/Users/yankovska_o/Desktop/CFG/specialisation/Final Assessment/data/italy_covid_stats.csv')

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
# 2. print the first and last five rows

In [5]:
df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [7]:
#3. View and display statistical information for this data set inclusing: mean, standard deviation, minimum/maximum values, and the number of non-empty values)

df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [10]:
# 4.  What are the total number of reported cases and deaths related to Covid-19 in Italy?


total_cases = df['new_cases'].sum()
total_deaths = df['new_deaths'].sum()
print('The number of reported cases is {} and the number of reported deaths is {}.'.format(int(total_cases), int(total_deaths)))

The number of reported cases is 271515 and the number of reported deaths is 35497.

In [13]:
# 5. What is the overall death rate (ratio of reported deaths to reported cases)?

death_rate = df['new_deaths'].sum() / df['new_cases'].sum()
print("The overall reported death rate in Italy is {:.2f} %.".format(death_rate*100))

The overall reported death rate in Italy is 13.07 %.

In [16]:
# 6.Let's say we want only want to look at the days which had more than 1000 reported cases. 
# Select a subset of rows from your df, which satisfy our search.

df[df['new_cases'] > 1000]

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
..          ...        ...         ...        ...
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

[72 rows x 4 columns]

In [34]:
# 7. 

#The data type of date column is currently object.  
# We can convert it into a datetime column using the pd.to_datetime method.

df['date'] = pd.to_datetime(df.date)

# Now we can extract different parts of the data into separate columns, using the DatetimeIndex class 

df['year'] = pd.DatetimeIndex(df.date).year
df['month'] = pd.DatetimeIndex(df.date).month
df['day'] = pd.DatetimeIndex(df.date).day
df['weekday'] = pd.DatetimeIndex(df.date).weekday

# QUESTION: check the overall metrics for May: new_cases, new_death, new_tests for th month of MAY only 


covid_may_totals = df.loc['month' : 4 ]
covid_may_totals

Empty DataFrame
Columns: [date, new_cases, new_deaths, new_tests, year, month, day, weekday]
Index: []

In [44]:
# 8.  Using NumPy create a 4X3 integer array from a range between 300 to 540  
# such that the difference between each element is 30

import numpy as np
np.arange(start=300, stop=540, step=30).reshape(4,3)

ValueError: cannot reshape array of size 8 into shape (4,3)

In [46]:
# 9. Create a new array like array([  0,1,2 .... 50])
# then multiply every element in the array by 5.


import numpy as np
x= np.arange(50)
print("Original array elements:")
print(x)
for a in np.nditer(x, op_flags=['readwrite']):
    a[...] = 5 * a
print("New array elements:")
print(x)

Original array elements:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49]
New array elements:
[  0   5  10  15  20  25  30  35  40  45  50  55  60  65  70  75  80  85
  90  95 100 105 110 115 120 125 130 135 140 145 150 155 160 165 170 175
 180 185 190 195 200 205 210 215 220 225 230 235 240 245]

In [50]:
# 10. Given and array, replace all odd numbers with 100. 

mixed_array = np.array([5,5,11,11,2,3,4,8,14,14,15,5])
odd_values = (mixed_array%2 == 1) 
mixed_array[odd_values] = 100
mixed_array
#HINT:
# to identify an odd number use modular division operator '%'

array([100, 100, 100, 100,   2, 100,   4,   8,  14,  14, 100, 100])

## 3. MACHINE LEARNING QUESTIONS (25 points)

- this is purely theoretical task, NO CODING required
- answer 5 questions below using Markdown cells to write your answers
- note that you only need to provide brief answers to each question in your own words and examples where applicable.


### Q1: What is Machine Learning?



### Q2: What are the key principles of 'Supervised' Machine learning?



### Q3: With regards to Machine Learning Model Fitting, what do we mean my Underfitting and Overfitting?



### Q4: Explain how do we ususally split data in preparation for the Machine Learning process?



### Q5: What is SciKit?

1. 
Machine learning is a subfield of artificial intelligence, which is broadly defined as the capability of a machine to imitate intelligent human behavior. Artificial intelligence systems are used to perform complex tasks in a way that is similar to how humans solve problems

machine learning allows the user to feed a computer algorithm an immense amount of data and have the computer analyze and make data-driven recommendations and decisions based on only the input data.

Machine learning is used in internet search engines, email filters to sort out spam, websites to make personalised recommendations, banking software to detect unusual transactions, and lots of apps on our phones such as voice recognition.

2. 
The key principle of supervised learning methods is that we build them using data that contains values for all the inputs and the output. This allows the model to identify how the input values relate to output values when creating its function. 
In supervised learning, algorithms are divided into two problems: in Classification or regression.
Classification
In the classification, the algorithm has the Aim to assign the input data to specific categories. To do this, it recognises certain features and patterns within the data set and tries to find similarities and differencesto make a corresponding classification. Categories can be, for example, "cat" and "dog" or "green" and "orange".
Examples of classification algorithms: Decision trees, Random Forest, Linear classifiers, Naive Bayes classifier
Regression. In regression, the algorithm tries to find the Identify relationships between dependent and independent variables and refers to continuous data. Regression algorithms are used Primarily used for forecastssuch as election and purchase forecasts or the prediction of the price development of a property.
Examples of regression algorithms: Linear regression, Logistic regression, Polynomial regression

3. 
Overfitting refers to a model that models the training data too well.
Overfitting happens when a model learns the detail and noise in the training data to the extent that it negatively impacts the performance of the model on new data. This means that the noise or random fluctuations in the training data is picked up and learned as concepts by the model. The problem is that these concepts do not apply to new data and negatively impact the models ability to generalize.
For example, decision trees are a nonparametric machine learning algorithm that is very flexible and is subject to overfitting training data. This problem can be addressed by pruning a tree after it has learned in order to remove some of the detail it has picked up.
Underfitting refers to a model that can neither model the training data nor generalize to new data.
An underfit machine learning model is not a suitable model and will be obvious as it will have poor performance on the training data.

4. 
The data should ideally be divided into 3 sets – namely, train, test, and holdout cross-validation or development (dev) set. Let’s first understand in brief what these sets mean and what type of data they should have. 
Train Set: 
The train set would contain the data which will be fed into the model. In simple terms, our model would learn from this data. For instance, a Regression model would use the examples in this data to find gradients in order to reduce the cost function. Then these gradients will be used to reduce the cost and predict data effectively.
Dev Set: 
The development set is used to validate the trained model. This is the most important setting as it will form the basis of our model evaluation. If the difference between error on the training set and error on the dev set is huge, it means the model as high variance and hence, a case of over-fitting.
Test Set: 
The test set contains the data on which we test the trained and validated model. It tells us how efficient our overall model is and how likely is it going to predict something which does not make sense. There are a plethora of evaluation metrics (like precision, recall, accuracy, etc.) which can be used to measure the performance of our model.

5.
Scikit-learn is a free machine learning library for Python. It features various algorithms like support vector machine, random forests, and k-neighbours, and it also supports Python numerical and scientific libraries like NumPy and SciPy

## 4. DATA ANALYSIS NARRATIVE (25 points - 5 points per question)

- this is a purely theoretical task, NO CODING required
- please complete five mini tasks below 
- write your answers in here in the Jyputer Notebook using a markdown cell.

### 1. What is a scatterplot diagram?

A scatter diagram is a two-dimensional graphical representation of a set of data. The scatter diagram graphs pairs numerical data with one variable on each axis to look for a relationship between them. If the variables are correlated, the points will fall along the line or curve. The better the correlation, the tighter the points will hug the line. Scatter diagrams are used when you want to demonstrate the relationship between two variables or when you have to identify data patterns.

# 2. What is the trend line for this scatterplot?

<img src="data/images/scatterplot1.jpg">

This graph illustrates how a person's weight might change depending on how much they run in a week. It records the change in weight for a group of people, all of whom started out weighing 90kg. Each person runs a different number of kilometers each week for an unspecified period of time.

It decreases. This is a negative correlation because as the number of kilometers increases, the weight decreases. It is a weak correlation because the data points are not closely grouped.

### 3. What is the trend line for this scatterplot?

<img src="data/images/scatterplot2.jpg">

This graph shows how a chemical reacts to changing temperature. Determine whether the graph shows a positive correlation, a negative correlation, or no correlation. If there is a positive or negative correlation, describe its meaning in the situation.

This is a positive correlation. As the temperature increases, concentration of the chemical increases.

### 4. Which graph is the best example of a negative correlation?

<img src="data/images/scatterplot3.jpg">

This graph shows how a chemical reacts to changing temperature. Determine whether the graph shows a positive correlation, a negative correlation, or no correlation. If there is a positive or negative correlation, describe its meaning in the situation.

The best example of a negative correlation is graph C.

### 5 What is the trend line for this scatterplot?

<img src="data/images/scatterplot4.jpg">

This graph shows the age of 20 people and the number of pets they own. Determine whether the graph shows a positive correlation, a negative correlation, or no correlation. If there is a positive or negative correlation, describe its meaning in the situation.

There is no correlation.